.TodayInfo .city {
  font-size: 30px;
  font-weight: 700;
  opacity: 0.9;
}
.TodayInfo .temp {
  font-size: 50px;
  font-weight: 600;
  opacity: 0.9;
}
.TodayInfo .unit {
  font-size: 25px;
  border: none;
  background-color: transparent;
  position: relative;
  top: -10px;
  opacity: 0.9;
}
.TodayInfo .date {
  font-size: 20px;
  opacity: 0.9;
}
